/* 
  Remove as margens e espaçamentos padrões
  que o navegador adiciona nos elementos.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 
  Configuração principal da página.
*/
body {
  /*
    Evita que a página tenha rolagem horizontal.
  */
  overflow-x: hidden;
}



/*
  Faz com que botões e inputs utilizem
  a mesma fonte definida no projeto.
*/
button,
input {
  font-family: inherit;
}